/* ======================================== \
 ================ DEMO CSS ================
\========================================= */

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700 &subset=latin,latin-ext);

body {
  margin: 30px;
  padding: 0;
  background: #fff;
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 15px 0;
}
.header {
  position: relative;
  margin: 30px 0 10px 0;
}
  .header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: -2px;
  }
  .header .gh-link {
    position: absolute;
    top: 2px;
    left: 380px;
    margin: 0;
    padding: 0 0 0 15px;
    border-left: 2px solid #222;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
  }
.subtitle {
  margin: 10px 0 30px 0;
  color: #666;
  font-size: 18px;
  line-height: 22px;
}
h2 {
  margin: 30px 0 20px 0;
  color: #666;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
}
  h2 a {
    color: #222;
  }
h3 {
  margin: 15px 0 10px 0;
  color: #888;
  font-family: Monaco, "Lucida Console", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.left-align {
  width: 740px;
}
.buttons {
  white-space: nowrap;
}
  .buttons .button {
    margin: 0 5px 5px 0;
  }

.global-counter {
  float: right;
  color: #666;
  font-size: 50px;
  font-weight: 600;
  line-height: 1em;
}
#flat-slider {
  height: 50px;
  border-radius: 6px;
}
  #flat-slider .handle {
    width: 120px;
    padding: 0;
    text-align: center;
  }
.top-space {
  margin-top: 30px;
}


/* ======================================== \
 ========== OBVIOUS BUTTONS CSS ===========
\========================================= */
/**
 * Obvious Buttons 0.1
 * https://github.com/skidding/obvious-buttons
 *
 * (c) 2014+ Ovidiu Chereche»ô
 * http://skidding.mit-license.org
 */
// Variables

$default-background-color: #fafafa;
$default-text-color: #222;

$primary-background-color: #0088cc;
$primary-text-color: #fafafa;

$info-background-color: #49afcd;
$info-text-color: #fafafa;

$success-background-color: #5bb75b;
$success-text-color: #fafafa;

$warning-background-color: #faa732;
$warning-text-color: #fafafa;

$danger-background-color: #da4f49;
$danger-text-color: #fafafa;

$inverse-background-color: #363636;
$inverse-text-color: #fafafa;


// Cross-browser helpers

@mixin boxShadow($statement){
  -webkit-box-shadow: $statement;
  -moz-box-shadow: $statement;
  box-shadow: $statement;
}
@mixin transition($property, $duration, $transition: linear){
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $transition;
  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $transition;
  -ms-transition-property: $property;
  -ms-transition-duration: $duration;
  -ms-transition-timing-function: $transition;
  -o-transition-property: $property;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $transition;
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $transition;
}


@mixin buttonColor($background, $text){
  background: $background;
  color: $text;

   &:hover,
   &:focus {
    background: darken($background, 8%);
    color: $text;
  }
}
@mixin buttonSize($height, $depth, $font-size){
  height: $height;
  // Fine-tuned to look match font size
  padding: 0 $font-size - 4;
  border-radius: $depth + 2;
  // Make button look 3D by giving a thicker border at the bottom
  @include boxShadow(inset 0 -$depth 0 0 rgba(0, 0, 0, 0.15));
  font-size: $font-size;
  line-height: $height - $depth;

  i {
    line-height: $height - $depth;
  }
   &:active,  &:active i {
    line-height: $height;
  }
   &.button-primary,  &.button-info,  &.button-success,  &.button-warning,  &.button-danger,  &.button-inverse {
    @include boxShadow(inset 0 -$depth 0 0 rgba(0, 0, 0, 0.2));
  }
}

.button {
  // Add .button-inline class for inline-block display
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  @include buttonSize(40px, 3px, 18px);
  @include transition(background-color, 0.2s);
  @include buttonColor($default-background-color, $default-text-color);

   &.button-primary {
    @include buttonColor($primary-background-color, $primary-text-color);
  }
   &.button-info {
    @include buttonColor($info-background-color, $info-text-color);
  }
   &.button-success {
    @include buttonColor($success-background-color, $success-text-color);
  }
   &.button-warning {
    @include buttonColor($warning-background-color, $warning-text-color);
  }
   &.button-danger {
    @include buttonColor($danger-background-color, $danger-text-color);
  }
   &.button-inverse {
    @include buttonColor($inverse-background-color, $inverse-text-color);
  }

  span {
    // We need this extra span because there's a WebKit bug that sometimes
    // misses click events when the text inside a the element moves between
    // mousedown and mouseup: http://stackoverflow.com/q/15679787/128816
    pointer-events: none;
  }

   &:hover {
    text-decoration: none;
  }
   &:focus {
    text-decoration: none;
    outline: none;
  }
   &:active {
    // Remove excess of bottom border when clicking on the button in order to
    // make it seem like it's physically pressed
    @include boxShadow(unquote("none !important"));
  }
}
.button-small {
  @include buttonSize(30px, 2px, 14px);
}
.button-large {
  @include buttonSize(50px, 4px, 22px);
}
.button-xlarge {
  @include buttonSize(60px, 5px, 26px);
}


.button-inline {
  display: inline-block;
  vertical-align: middle;
}
